{% load static %}
<style>
    label
    {
        color:ghostwhite;
    }
</style>

<div class="sign section--bg" data-bg="{% static 'img/section/section.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sign__content">
                    <!-- authorization form -->

                    <form action="{% url 'change-password' %}" method="post" class="sign__form">
                    {% csrf_token %}
                    <ul class="errorlist"> 
                        {% for error in form.non_field_errors %} 
                            <li>
                                {{ error }}  <!-- Genel Hata Mesajlarını ekranda yazdıran kısım (Kontroller(Html elemanları) ile ilişkisi olmayan )-->
                            </li>
                        {% endfor %}
                    </ul>

                    <!-- Oluşturulan Form içerisindeki eleman sayısına göre otomatik olarak label,html elemanlarını,hata mesajlarını Sayfada gösterme İşlemi -->

                    {% for field in form %}
                    <div class="mb-3">
                        {% if field.errors %}
                            <div class="alert alert-danger pb-0">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                    <label for="{{ field.id_for_label }}" class="form-label"> {{ field.label }}</label>
                    {{ field }}
                    {% endfor %}


                    <!-- Sayfada Form elemanları ve hata mesajlarını tek tek tanımlayıp gösterme İşlemi -->

                    <!--

                        <div>
                            {{ form.old_password.errors }}
                        </div>

                        <div class="sign__group">
                            {{ form.old_password }}
                        </div>

                        <div class="sign__group">
                            {{ form.new_password1 }}
                        </div>

                        <div class="sign__group">
                            {{ form.new_password2 }}
                        </div>
                    
                        <div>
                            {{ form.new_password1.errors }}
                            {{ form.new_password2.errors }}
                        </div>

                    -->

                    <button class="sign__btn" type="submit">Parolayı Değiştir</button>

                    {% if messages %}
                    {% for item in messages %}
                            <div class="alert alert-danger" role="alert">
                                <p style="color:yellow">{{item}}</p>
                            </div>
                    {% endfor %}
                    {% endif %}

                    </form>
                    <!-- end authorization form -->
                    
                </div>
                
            </div>
            
        </div>
    </div>
</div>
