{% load static %}
<section class="section section--bg" data-bg="{% static 'img/section/section.jpg' %}">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-12">
                <h2 class="section__title">VİZYONA GİRECEK OLAN FİLMLER</h2>
            </div>
            <!-- end section title -->

            <!-- card -->
            {% for item in vizyon %}
            <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
                <div class="card">
                    <div class="card__cover">
                        <img src="{{ item.image.url }}" alt="">
                        <a href="{% url 'movieDetail' item.slug %}" class="card__play">
                            <i class="icon ion-ios-play"></i>
                        </a>
                    </div>
                    <div class="card__content">
                        <h3 class="card__title"><a href="{% url 'movieDetail' item.slug %}">{{item.title}}</a></h3>
                        <span class="card__category">
                            {% for items in item.genre.all %}
                                <a href="{% url 'category' items.slug %}">{{ items.name }}</a>
                            {% endfor %}
                        </span>
                        <span class="card__rate"><i class="icon ion-ios-star"></i>8.4</span>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- end card -->

            <!-- section btn -->
            <div class="col-12">
                <a href="#" class="section__btn">DAHA FAZLASI..</a>
            </div>
            <!-- end section btn -->
        </div>
    </div>
</section>

